

#logo{
	width: 300px;
	height: 300px;
}



.projects {
	padding-left: 100px;
}

#main-image {
	
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: 42px;
	animation-name: bio;
	animation-duration: 4s;
	animation-iteration-count: 20;
	margin-bottom: 30px;

}


.jumbotron {
	background-color: gray;
	transition-property: all;
	transition-duration: 4s;
}

.jumbotron:hover {
	border-radius: 20%;

}



@keyframes bio {
	100% {
		transform: rotateY(180deg);
	}
}

.aboutme {
	margin-bottom: 50px;
	margin-top: 50px;
}

.bio{
	margin-bottom: 50px;
}

#btn1 {
	margin: 10px 0px 50px 50px;
	
}

#contact {
margin-top: 20px;
margin-bottom: 20px;
}

#bottomnav {
	margin-top: 20px;
}



