

#logo{
	width: 300px;
	height: 300px;
}



.projects {
	padding-left: 100px;
}

#main-image {
	
	width: 90%;
	height: 30rem;
	min-height: 20vh;
	margin-top: 50px;
	margin-left: 42px;
	animation-name: bio;
	animation-duration: 4s;
	animation-iteration-count: 20;
	margin-bottom: 30px;

}

.projects {
	text-align: center;
}

.topclass {
	
	transition-property: all;
	transition-duration: 4s;
	background-color: white;
}

.slidepics{
	margin: 2rem;
	display:flex;
	justify-content: center;
	align-content: center;

}


@keyframes bio {
	100% {
		transform: rotateY(180deg);
	}
}

.aboutme {
	margin-bottom: 4rem;
	margin-top: 4rem;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.bio{
	margin-bottom: 4rem;
	display: flex;
	text-align: center;
	margin: 1rem;
	justify-content: center;
	align-content: center;

}

#btn1 {
	margin: 10px 0px 50px 50px;
	
}

#contact {
margin-top: 20px;
margin-bottom: 20px;
}

#bottomnav {
	margin-top: 20px;
}

.services {
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 30%;
	flex-direction: column;
	flex: 1 1 20rem;
}

.Tech {
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 30%;
	flex-direction: column;
	flex: 1 1 20rem;
	
}

.TechServices {
	display: flex;
	flex-wrap: wrap;

}

#help {
	text-align: center;
}

.contact-btn {
	display: flex;
	justify-content: center;
	align-content: center;
	
	flex-direction: column;
	margin: auto;
}

.endnotes {
	text-align: center;
	margin: 1rem;
}